.adminItemDetailPage_item_container {}

.adminItemDetailPage_actions_container {
    display: flex;
    justify-content: flex-start;
    gap: 1;
}

.adminItemDetailPage_button_container {
    width: 2150px;
}