.adminHomePage_container {
  padding: 1rem;
}

.adminHomePage_title_container {
  margin: 10px 0;
}

.adminHomePage_actions_container {
  display: flex;
  justify-content: space-around;
}

.adminHomePage_button_container {
  width: 300px;
  height: 80px;
  display: flex;
  justify-content: center;
}

.adminHomePage_list_container {
  margin-top: 20px;
}