.commentCard_container {
  background-color: var(--ecommerce-background);
  /* border: 1px solid var(--ecommerce-color); */
  border-radius: 8px;
  padding: 16px;
  max-width: 600px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.commentCard_container h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.commentCard_container .MuiRating-root {
  margin-bottom: 12px;
}

.commentCard_container p {
  font-size: 1rem;
  line-height: 1.5;
  color: #666;
  margin: 0;
}
