.detailpage_container {
  width: 100%;
  height: 100%;

  box-sizing: border-box;

  padding: 20px;
  display: flex;
  justify-content: center;
}

.detailpage_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
}

.detailpage_image {
  flex: 1; /* 左側の画像部分 */
}

.detailpage_image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}
.detailpage_info_container {
  flex: 1; /* 右側の情報部分 */
}

.detailpage_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: var(--ecommerce-background);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--ecommerce-color);
}
.detailpage_info_product_detail_container {
  margin: 2rem 0;
}
.detailpage_info_product_detail_title {
  font-size: 1rem;
  color: var(--ecommerce-color);
  padding: 2px 5px;
  margin: 5px 0px;
}

.detailpage_info_product_description {
  font-size: 1rem;
  color: var(--ecommerce-color);

  line-height: 1.6;
  margin-top: 2rem;
  white-space: pre-wrap; /* テキスト内の改行を維持 */
  word-wrap: break-word; /* 長い単語で折り返す */
  overflow-wrap: anywhere; /* コンテナの幅で折り返し */
}

.detailpage_itemReviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: var(--ecommerce-background);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  color: var(--ecommerce-color);
}

.detailpage_itemReviews_title_container {
  display: flex;
  justify-content: space-between;
}

.detailpage_allReviews_container {
  display: flex;
  justify-content: flex-start;
}

.detailpage_allReviews_count {
  color: #666;
}
