.homepage_container {
  height: 100%;
  box-sizing: border-box;
}

.homepage_title_container {
  padding: 20px 10px;
}

.homepage_item_container {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  width: "100%";
}
