.userOrderDetailPage_container {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.userOrderDetailPage_title_container {
  padding: 20px 10px;
}

.userOrderDetailPage_content_container {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  gap: 50px;
}

.userOrderDetailPage_cartItems_container {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-grow: 0.5;
  flex-direction: column;
}

.userOrderDetailPage_settlement_container {
  height: 100%;
  min-width: 300px;
  box-sizing: border-box;
  display: flex;
  flex-grow: 0.5;
}

.userOrderDetailPage_settlementCard_container {
  padding: 20px;
  background-color: var(--ecommerce-background);

  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.userOrderDetailPage_settlement_container h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #333;
}

.settlement-item {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 10px;
}

.settlement-total {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.settlement-item span,
.settlement-total span {
  color: #333;
}
